<!DOCTYPE html>
<html ng-app='myApp'>

 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Helping Hours</title>
  <!-- <link rel="shortcut icon" type="image/gif" href="assets/favicon.ico"/> -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="css/material.copy.min.css">
  <link rel="stylesheet" href="css/mdl-selectfield-master/mdl-selectfield.min.css">


  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="/v-accordion/dist/v-accordion.css">

  <script src="css/mdl/material.min.js"></script>
  <script src="css/mdl-selectfield-master/mdl-selectfield.min.js"></script>


  <script type="text/javascript" src='angular/angular.min.js'></script>
  <script type="text/javascript" src='angular-route/angular-route.min.js'></script>
  <script type="text/javascript" src='angular-cookies/angular-cookies.min.js'></script>
  <script type="text/javascript" src='angular-animate/angular-animate.min.js'></script>
  <script src="v-accordion/dist/v-accordion.js"></script>
  <script type="text/javascript" src='ngmap/build/scripts/ng-map.min.js'></script>




  <script type="text/javascript" src='js/app.js'></script>




  <script type="text/javascript" src='js/factories/logRegFactory.js'></script>
  <script type="text/javascript" src='js/factories/searchFactory.js'></script>
  <script type="text/javascript" src='js/factories/foodFactory.js'></script>
  <script type="text/javascript" src='js/factories/myEditPageFactory.js'></script>
  <script type="text/javascript" src='js/factories/showPageFactory.js'></script>

  <script type="text/javascript" src='js/controllers/testing.js'></script>


  <script type="text/javascript" src='js/controllers/homeController.js'></script>
  <script type="text/javascript" src='js/controllers/logRegController.js'></script>
  <script type="text/javascript" src='js/controllers/locationController.js'></script>
  <script type="text/javascript" src='js/controllers/foodController.js'></script>
  <script type="text/javascript" src='js/controllers/myEditPageController.js'></script>
  <script type="text/javascript" src='js/controllers/logOutController.js'></script>
  <script type="text/javascript" src='js/controllers/showPageController.js'></script>

  <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN4DR6_NEex4E0iFmkgDgqANrO69pCgtM"></script> -->





<body class="mainBackground">

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller='logOutController'>
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <!-- <span class="header mdl-layout-title titleLogo"> <a ng-click='returnHome()'><img src="assets/helpingHoursFullLogo1.png" alt="Clock Logo"></a> </span> -->
        <span class="header mdl-layout-title titleLogo"> <a href="#!/">Helping Hours </a></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <nav class="myNav mdl-navigation">
          <a class="mdl-navigation__link mdl-cell--hide-phone" ng-click='returnHome()'>Home</a>
          <!-- <a class="mdl-navigation__link" href="#!/food">Services</a> -->
          <a class="mdl-navigation__link" ng-show='organization' href="#!/showPage/{{organization.id}}">My Page</a>

          <a class="mdl-navigation__link" ng-show='!organization' href="#!/logReg/">Log/Reg</a>
          <a class="mdl-navigation__link" href='' ng-show='organization'ng-click='logout()'>Logout</a>

        </nav>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">

        <div ng-view=""></div>

      </div>
    </main>
  </div>


</body>
</html>
