<div class="pageWrapper">

  <div class="showPageHeader mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

  <h1 >{{thisOrg.organization}}</h1><a ng-if='showEdit' href="#!/editPage">Edit My Page</a>

  </div>

  <div class="mdl-grid">
    <div class="showPageOrgInfo mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

      <!-- <form class="">

        <h4>{{thisOrg.formattedAddress}}</h4>
        <p ng-show='thisOrg.website'><a  href="{{thisOrg.website}}" target="_blank" ng-click="linkModelFunc()">{{thisOrg.website}}</a></p>
        <p ng-show='thisOrg.phone'>{{thisOrg.phone}}</p>
        <a ng-show='thisOrg.email' href="mailto:{{thisOrg.email}}?" target="_top">{{thisOrg.email}}</a>
        <h4 ng-show='thisOrg.description'>Description:  </h4>
        <p ng-show='thisOrg.description'>{{thisOrg.description}}</p>
        <h4 ng-show='thisOrg.services.otherServices'>Other Services: </h4>
        <p ng-show='thisOrg.services.otherServices'> {{thisOrg.services.otherServices}}</p>

      </form> -->




        <h4>{{thisOrg.formattedAddress}}</h4>
        <p ng-show='thisOrg.website'><a  href="{{thisOrg.website}}" target="_blank" ng-click="linkModelFunc()">{{thisOrg.website}}</a></p>
        <p ng-show='thisOrg.phone'>{{thisOrg.phone}}</p>
        <a ng-show='thisOrg.email' href="mailto:{{thisOrg.email}}?" target="_top">{{thisOrg.email}}</a>
        <h4 ng-show='thisOrg.description'>Description:  </h4>
        <p ng-show='thisOrg.description'>{{thisOrg.description}}</p>
        <h4 ng-show='thisOrg.services.otherServices'>Other Services: </h4>
        <p ng-show='thisOrg.services.otherServices'> {{thisOrg.services.otherServices}}</p>


    </div>
    <div class="showPageOrgInfo mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

      <ng-map class='showMap' center="{{latLong}}" zoom="12"></ng-map>


    </div>
  </div>

  <div class="showPageServices mdl-grid">
    <div class="services mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
      <h1>Services Available</h1>

      <table>
        <tr>
          <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">Beds <input class="mdl-checkbox__input" type="checkbox" ng-model='thisOrg.services.beds' ng-true-value="true" ng-false-value="false" ></label></td>
          <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">Clothes <input class="mdl-checkbox__input" type="checkbox" ng-model='thisOrg.services.clothes' ng-true-value="true" ng-false-value="false" ></label></td>
          <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">Education <input class="mdl-checkbox__input" type="checkbox" ng-model='thisOrg.services.education' ng-true-value="true" ng-false-value="false" ></label></td>
          <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">Interview Help <input class="mdl-checkbox__input" type="checkbox" ng-model='thisOrg.services.interviewHelp' ng-true-value="true" ng-false-value="false" ></label></td>
        </tr>
        <tr>
          <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">Jobs <input class="mdl-checkbox__input" type="checkbox" ng-model='thisOrg.services.jobs' ng-true-value="true" ng-false-value="false" ></label></td>
          <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">Childcare <input class="mdl-checkbox__input" type="checkbox" ng-model='thisOrg.services.childcare' ng-true-value="true" ng-false-value="false" ></label></td>
          <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">Recreational Activities <input class="mdl-checkbox__input" type="checkbox" ng-model='thisOrg.services.recActivities' ng-true-value="true" ng-false-value="false" ></label></td>
          <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">Takes Donations <input class="mdl-checkbox__input" type="checkbox" ng-model='thisOrg.services.donations' ng-true-value="true" ng-false-value="false" ></label></td>
        </tr>
        <tr>
          <td></td>
          <td></td>

          <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" ng-click = 'updateServices()'>Update Services</button>


          {{message}}
  </td>
        </tr>
      </table>

    </div>

        <div class="otherServices mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
          <h1>Days Serving Food</h1>

          <table class="showPageDays">
            <tr ng-repeat="d in thisOrg.days">
              <td>{{ d.day }}</td>
              <td>{{ d.start | date: 'h:mm a'}}</td>
              <td>{{ d.end | date: 'h:mm a'}}</td>
              <td><button id='removeBtn' class="mdl-snackbar__action mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click = "deleteDay($index)"> Remove <i class="material-icons">remove</i>
              </button></td>
            </tr>
            <tr id='addSpace'>
              <td></td>
              <!-- <td>Add New Day</td> -->
              <td>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Add New Day<i class="material-icons">add</i></button>
              </td>
            </tr>
          </table>
        </div>
    </div>


  </div>


  <!-- <div class="mdl-layout-spacer"></div> -->


   <div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">

     <div class="mdl-snackbar__text"></div>

     <button class="mdl-snackbar__action" type="button"></button>

   </div>
</div>
