{{$scope.orgnaization}}


<h3>Serving food on:</h3>

<label><select ng-model = 'days.day'>
  <option value="Mon">Monday</option>
  <option value="Tues">Tuesday</option>
  <option value="Wed">Wednesday</option>
  <option value="Thur">Thursday</option>
  <option value="Fri">Friday</option>
  <option value="Sat">Saturday</option>
  <option value="Sun">Sunday</option></select></label>

<label>start time <select ng-model='days.start'>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
</select></label>

<label>am/pm <select ng-model='days.start2'>
  <option value="am">am</option>
  <option value="pm">pm</option>
</select>
</label>
<label>end time <select ng-model='days.end'>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
</select></label>

<label>am/pm <select ng-model='days.end2'>
  <option value="am">am</option>
  <option value="pm">pm</option>
</select>
</label>
<button type="button" name="button" ng-click = 'addDay()'>Add Day</button>

<div>

<table>

  <thead>
    <th>days</th>
    <th>start time</th>
    <th>end time</th>

  </thead>
  <tr ng-repeat="d in days">
    <td>{{ d.days }}</td>
    <td>{{ d.startTime }}</td>
    <td>{{ d.endTime }}</td>
    <th><button type="button" name="button" style = "background-color:blue" ng-click = "deleteDays($index)"> Delete this shit</button></th>
  </tr>
</table>

</div>



<div class="services">


<h1>services</h1>
<label>Jobs: <input name="services[]" type="checkbox" value="jobs" ng-model='services.jobs'></label>
<label>Beds: <input name="services[]" type="checkbox" value= "beds" ng-model='services.beds'></label>
<label>Clothes: <input name="services[]" type="checkbox" value= "clothes" ng-model='services.clothes'></label>
<label>Interview Help: <input name="services[]" type="checkbox" value= "interview workshops" ng-model='services.interview_workshops'></label>
<button type="button" name="button" ng-click = 'updateServices()'>Save Services</button>
<div class="other">


<label>Other: <input type="text" name="" value="" ng-model='newService'></label>
<button type="button" name="button" ng-click = 'addNewService()'>Add New Service</button>
</div>
</div>

<table>

  <thead>
    <th>Services</th>


  </thead>
  <tr ng-repeat="s in services">
    <td><h3>Other services available: {{ d.services }}</td>

    <th><button type="button" name="button" ng-click = "deleteServices($index)"> Delete this shit</button></th>
  </tr>
</table>


<a href="#!/reg">Edit Organization</a>
