{{$scope.orgnaization}}


<h3>Serving food on:</h3>

<label><select ng-model = 'days.day'>
  <option value="Mon">Monday</option>
  <option value="Tues">Tuesday</option>
  <option value="Wed">Wednesday</option>
  <option value="Thur">Thursday</option>
  <option value="Fri">Friday</option>
  <option value="Sat">Saturday</option>
  <option value="Sun">Sunday</option></select></label>

<label>start time <select ng-model='days.start'>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
</select></label>

<label>am/pm <select ng-model='days.start2'>
  <option value="am">am</option>
  <option value="pm">pm</option>
</select>
</label>
<label>end time <select ng-model='days.end'>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
</select></label>

<label>am/pm <select ng-model='days.end2'>
  <option value="am">am</option>
  <option value="pm">pm</option>
</select>
</label>
<button type="button" name="button" ng-click = 'addDay()'>Add Day</button>

<div>

<table>

  <thead>
    <th>days</th>
    <th>start time</th>
    <th>end time</th>
    <th>Action</th>
  </thead>
  <tr ng-repeat="d in days">
    <td>{{ d.day }}</td>
    <td>{{ d.start }}</td>
    <td>{{ d.end }}</td>
    <td><button ng-click = "deleteDay($index)">Remove</button></td>
  </tr>
</table>

</div>



<div class="services">


  <h1>services</h1>

<label>Beds: <input type="checkbox" ng-model='services.beds' ng-true-value="true" ng-false-value="false" ng-checked='services.beds'></label>
<label>Clothes: <input type="checkbox" ng-model='services.clothes' ng-true-value="true" ng-false-value="false"></label>
<label>Education: <input type="checkbox" ng-model='services.education' ng-true-value="true" ng-false-value="false"></label>
<label>Interview Help: <input type="checkbox" ng-model='services.interviewHelp' ng-true-value="true" ng-false-value="false"></label>
<label>Jobs: <input type="checkbox" ng-model='services.jobs' ng-true-value="true" ng-false-value="false"></label>
<label>Childcare: <input type="checkbox" ng-model='services.childcare' ng-true-value="true" ng-false-value="false"></label>
<label>Recreational Activities: <input type="checkbox" ng-model='services.recActivities' ng-true-value="true" ng-false-value="false"></label>
<label>Takes Donations: <input type="checkbox" ng-model='services.donations' ng-true-value="true" ng-false-value="false"></label>

  <button type="button" ng-click = 'updateServices()'>Save Services</button>
</div>


<div class="other">
  <label>Other Services: <input type="text" ng-model='otherServices' value="otherServices"></label>

  <button type="button" name="button" ng-click = 'addOtherService()'>Add New Service</button>
</div>



<a href="#!/reg">Edit Organization</a>
