<h2 class='errorMessage'>{{error}}</h2>
  <div class="missionStatement mdl-grid">

    <div class="pageWrapper home-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone" ng-hide='organization'>

      <h4>This is where the mission statement will go, until there is a proper one written. <br>This is just a place holder until that time.</h4>

    </div>

    <div class="pageWrapper home-title mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone" ng-show='organization'>

      <h4>Welcome</h4>
      <h1>{{organization.organization}}</h1>
    </div>

  </div>

  <div class="mdl-grid homePage">
    <div map-lazy-load="https://maps.google.com/maps/api/js"  map-lazy-load-params="{{googleMapsUrl}}" class="mapDiv pageWrapper mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

      <ng-map id="myMap" center="41,-97" zoom="3"></ng-map>

    </div>

    <div class="bigBox  mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

      <div class="orgList pageWrapper">
        <div ng-hide='loading'>

          <h2>Near By Places</h2>
          <v-accordion id='nearbyAccordian'class="vAccordion--default nearbyPanels"  control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">

            <v-pane id="2mile" expanded>
              <v-pane-header id="testme">
                <h5>Within 2 miles <span>{{within2miles.length}} locations</span></h5>
              </v-pane-header>

              <v-pane-content>
                <li ng-repeat='place in within2miles'>
                  <a href="#!/showPage/{{place._id}}"> <span>{{place.organization}}</span> - {{place.formattedAddress}}</a>
                </li>
              </v-pane-content>
            </v-pane>

            <v-pane id="5mile">
              <v-pane-header id="testme">
                <h5>Within 5 miles <span>{{within5miles.length}} locations</h5>
              </v-pane-header>

              <v-pane-content>
                <li ng-repeat='place in within5miles'>
                  <a href="#!/showPage/{{place._id}}"> <span>{{place.organization}}</span> - {{place.formattedAddress}}</a>
                </li>
              </v-pane-content>
            </v-pane>

            <v-pane id="10mile">
              <v-pane-header id="testme">
                <h5>Within 10 miles <span>{{within10miles.length}} locations</h5>
              </v-pane-header>

              <v-pane-content>
                <li ng-repeat='place in within10miles'>
                  <a href="#!/showPage/{{place._id}}"> <span>{{place.organization}}</span> - {{place.formattedAddress}}</a>
                </li>
              </v-pane-content>
            </v-pane>

          </v-accordion>

        </div>

        <div class="centerMe mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" ng-show='loading'></div>

      </div>


      <div id='searchbar'  class="pageWrapper mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <form name='SearchCity'>

          <div id='homeSearchInputs' class="mdl-textfield mdl-js-textfield ">
            <input class='myInputCity mdl-textfield__input' id='searchCity' type="text" name="city" ng-model='city' required>
            <label class="mdl-textfield__label" for="searchCity">Search City.. </label>
          </div>

          <div id='homeSearchInputs' class="mdl-selectfield mdl-js-selectfield">
            <select class="mdl-selectfield__select" name="state" ng-model='state' required>
              <option value=""></option>
              <option value="AL">AL</option>
              <option value="AK">AK</option>
              <option value="AZ">AZ</option>
              <option value="AR">AR</option>
              <option value="CA">CA</option>
              <option value="CO">CO</option>
              <option value="CT">CT</option>
              <option value="DE">DE</option>
              <option value="FL">FL</option>
              <option value="GA">GA</option>
              <option value="HI">HI</option>
              <option value="ID">ID</option>
              <option value="IL">IL</option>
              <option value="IN">IN</option>
              <option value="IA">IA</option>
              <option value="KS">KS</option>
              <option value="KY">KY</option>
              <option value="LA">LA</option>
              <option value="ME">ME</option>
              <option value="MD">MD</option>
              <option value="MA">MA</option>
              <option value="MI">MI</option>
              <option value="MN">MN</option>
              <option value="MS">MS</option>
              <option value="MO">MO</option>
              <option value="MT">MT</option>
              <option value="NE">NE</option>
              <option value="NV">NV</option>
              <option value="NH">NH</option>
              <option value="NJ">NJ</option>
              <option value="NM">NM</option>
              <option value="NY">NY</option>
              <option value="NC">NC</option>
              <option value="ND">ND</option>
              <option value="OH">OH</option>
              <option value="OK">OK</option>
              <option value="OR">OR</option>
              <option value="PA">PA</option>
              <option value="RI">RI</option>
              <option value="SC">SC</option>
              <option value="SD">SD</option>
              <option value="TN">TN</option>
              <option value="TX">TX</option>
              <option value="UT">UT</option>
              <option value="VT">VT</option>
              <option value="VA">VA</option>
              <option value="WA">WA</option>
              <option value="WV">WV</option>
              <option value="WI">WI</option>
              <option value="WY">WY</option>
            </select>
            <label class="mdl-selectfield__label" for="myselect">State..</label>
          </div>

          <button id='homeSearchInputsBtn' type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click='citySearch()'> Search</button>

        </form>
      </div>

    </div>
    <!-- End big Box -->


    <div class="Spacer mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet"></div>

    <div ng-show='searchedCity' class="searchResults pageWrapper mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">

      <li ng-repeat='place in searchedCity'>
        <a href="#!/showPage/{{place._id}}"> <span>{{place.organization}}</span> - {{place.formattedAddress}}</a> <p ng-show='place.website'> - </p> <a id='website' ng-show='place.website' href="{{place.website}}" target="_blank" ng-click="linkModelFunc(place.website)">{{place.website}}</a>
      </li>

      <h4>{{noLocations}}</h4>

    </div>

  </div>
