<h1>Login or Register</h1>
<h2>{{error}}</h2>


<div class="logReg-Log">
  <h3>Login</h3>
  <label>Email: <input type="text" placeholder='you@email.com' ng-model="login.email"></label>
  <label>Password: <input type="password" ng-model="login.password"></label>
  <button type="button" name="button" ng-click="loginUser()">Log In</button>
</div>

<div class="logReg-Reg">
  <h3>Register</h3>
  <label>Organization: <input type="text" placeholder='Organization Name' ng-model='temp.organization'></label>
  <label>Street: <input type="text" placeholder='123 Main St.' ng-model='temp.street1'></label>
  <label>City: <input type="text" placeholder='City' ng-model='temp.city'></label>

<button type="button" name="button" ng-click="continueReg()">Register</button>
</div>
