<div class="pageWrapper">

  <div class="logRegHeader ">

    <!-- <h1>Login or Register</h1> -->
    <h2>{{error}}</h2>

  </div>

  <div class="logRegContent mdl-grid">

    <div class="Login mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <h3>Login</h3>
      <form>

        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="email" id="email" ng-model='login.email' required>
          <label class="mdl-textfield__label" for="email">Email...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="password" id="password" ng-model='login.password' required>
          <label class="mdl-textfield__label" for="password">Password...</label>
        </div>

        <button type="button" class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' ng-click="loginUser()">Log In</button>

      </form>
    </div>

    <div class="Register mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <h3>Register</h3>
      <form>


        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="text" id="orgName" ng-model='temp.organization' required>
          <label class="mdl-textfield__label" for="orgName">Organization Name...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="text" id="street" ng-model='temp.street1' required>
          <label class="mdl-textfield__label" for="street">Street...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="text" id="city" ng-model='temp.city' required>
          <label class="mdl-textfield__label" for="city">City...</label>
        </div>

        <button type="button" class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' ng-click="continueReg()">Register</button>
      </form>
    </div>
  </div>

</div>
