<h2 class='errorMessage'>{{error}}</h2>


  <div class="logRegContent mdl-grid">

    <div class="Login pageWrapper mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <h3>Login</h3>
      <form>

        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="email" id="email" ng-model='login.email' >
          <label class="mdl-textfield__label" for="email">Email...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="password" id="password" ng-model='login.password' >
          <label class="mdl-textfield__label" for="password">Password...</label>
        </div>

        <button type="button" class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' ng-click="loginUser()">Log In</button>

      </form>
    </div>

    <div class="Register pageWrapper mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <h3>Register</h3>
      <form>


        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="text" id="orgName" ng-model='temp.organization'>
          <label class="mdl-textfield__label" for="orgName">Organization Name...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="text" id="street" ng-model='temp.street1'>
          <label class="mdl-textfield__label" for="street">Street...</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield ">
          <input class="mdl-textfield__input" type="text" id="city" ng-model='temp.city'>
          <label class="mdl-textfield__label" for="city">City...</label>
        </div>

        <button type="button" class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' ng-click="continueReg()">Register</button>
      </form>
    </div>
  </div>
