
<h1 class="showPageHeader">{{organization.organization}}</h1>

<div class="mdl-grid">
  <div class="showPageOrgInfo mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <h4>{{organization.formattedAddress}}</h4>

    <p><a  href="{{organization.website}}" title="Habitat Conservation Plan" target="_blank" ng-click="linkModelFunc()">{{organization.website}}</a></p>
    <p>{{organization.phone}}</p>
    <p>{{organization.email}}</p>
    <h4>Description:  </h4>
    <p>{{organization.description}}</p>
    <h4>Other Services: </h4>
    <p> {{organization.services.otherServices}}</p>


  </div>
  <div class="showPageOrgInfo mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

    <ng-map class='showMap' center="{{latLong}}" zoom="12"></ng-map>


  </div>
</div>

<div class="showPageServices mdl-grid">
  <div class="services mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <h1>Services Available</h1>

    <table>
      <tr>
        <td><label>Beds: <input type="checkbox" ng-model='organization.services.beds' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Clothes: <input type="checkbox" ng-model='organization.services.clothes' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Education: <input type="checkbox" ng-model='organization.services.education' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Interview Help: <input type="checkbox" ng-model='organization.services.interviewHelp' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
      </tr>
      <tr>
        <td><label>Jobs: <input type="checkbox" ng-model='organization.services.jobs' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Childcare: <input type="checkbox" ng-model='organization.services.childcare' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Recreational Activities: <input type="checkbox" ng-model='organization.services.recActivities' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Takes Donations: <input type="checkbox" ng-model='organization.services.donations' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
      </tr>
    </table>

  </div>

      <div class="otherServices mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
        <h1>Days Serving Food</h1>

        <table class="showPageDays">
          <tr ng-repeat="d in organization.days">
            <td>{{ d.day }}</td>
            <td>{{ d.start }}</td>
            <td>{{ d.end }}</td>
          </tr>
        </table>
      </div>
  </div>


</div>
