
<h1 class="showPageHeader">{{thisOrg.organization}}</h1>

<a ng-if='showEdit' href="#!/myShowPage">Edit My Page</a>

<div class="mdl-grid">
  <div class="showPageOrgInfo mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <h4>{{thisOrg.formattedAddress}}</h4>

    <p ng-show='thisOrg.services.website'><a  href="{{thisOrg.website}}" target="_blank" ng-click="linkModelFunc()">{{thisOrg.website}}</a></p>
    <p ng-show='thisOrg.services.phone'>{{thisOrg.phone}}</p>
    <a ng-show='thisOrg.services.email' href="mailto:{{thisOrg.email}}?" target="_top">{{thisOrg.email}}</a>
    <h4 ng-show='thisOrg.services.description'>Description:  </h4>
    <p ng-show='thisOrg.services.description'>{{thisOrg.description}}</p>
    <h4 ng-show='thisOrg.services.otherServices'>Other Services: </h4>
    <p ng-show='thisOrg.services.otherServices'> {{thisOrg.services.otherServices}}</p>


  </div>
  <div class="showPageOrgInfo mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

    <ng-map class='showMap' center="{{latLong}}" zoom="12"></ng-map>


  </div>
</div>

<div class="showPageServices mdl-grid">
  <div class="services mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
    <h1>Services Available</h1>

    <table>
      <tr>
        <td><label>Beds: <input type="checkbox" ng-model='thisOrg.services.beds' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Clothes: <input type="checkbox" ng-model='thisOrg.services.clothes' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Education: <input type="checkbox" ng-model='thisOrg.services.education' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Interview Help: <input type="checkbox" ng-model='thisOrg.services.interviewHelp' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
      </tr>
      <tr>
        <td><label>Jobs: <input type="checkbox" ng-model='thisOrg.services.jobs' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Childcare: <input type="checkbox" ng-model='thisOrg.services.childcare' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Recreational Activities: <input type="checkbox" ng-model='thisOrg.services.recActivities' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
        <td><label>Takes Donations: <input type="checkbox" ng-model='thisOrg.services.donations' ng-true-value="true" ng-false-value="false" disabled="disabled"></label></td>
      </tr>
    </table>

  </div>

      <div class="otherServices mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
        <h1>Days Serving Food</h1>

        <table class="showPageDays">
          <tr ng-repeat="d in thisOrg.days">
            <td>{{ d.day }}</td>
            <td>{{ d.start }}</td>
            <td>{{ d.end }}</td>
          </tr>
        </table>
      </div>
  </div>


</div>
