.mainBackground{
  background-image: url('../assets/mochaGrunge_@2X.png');
}

#myMap{
  height: 625px;
}

.homePage{
  margin: 2%;
}

.home-title {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
}

.orgList {
  height: 625px;
  vertical-align: top;
}

.homeTable{
  font-size: 1.5em;
}

.homeName{
  width: 30%;
}


.css-form input.ng-invalid.ng-touched {
  background-color: #bc0909;
}

.css-form input.ng-valid.ng-touched {
  background-color: #43e02f;
}

.showPageHeader {
  text-align: center;
}

.showPageOrgInfo {
  /*outline: 1px solid black;*/
  height: 350px;
}

.showPageInfo p, .showPageInfo h4 {
  display: inline-block;
}

.showPageInfo {
  /*outline: 1px solid black;*/
  height: 50px;
}

.showMap {
  height: 100%;
}

.showPageServices {
  text-align: center;
  /*outline: 1px solid black;*/
}

.showPageDays td {
  width: 5%;
  text-align: center;
}


/*
.services, .otherServices {

}*/
